li {
  list-style: none;
}

.cta-bar {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../../images/cta-bar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
